<%= devise_error_messages! %>

<%= form_for(:user, url: user_password_path, html: {class: "new_user"}) do |f| %>
  <table class="login-form__table">

    <th>Send me reset password instructions</th>
     <tr>
       <td><%= f.text_field :email, class: "login-form__input", placeholder: "Email:" %></td>
     </tr>
     <tr>
       <td>
         <%= f.submit "Send", class: "login__btn" %>
         <%= link_to 'Cancel', { action: 'new', controller: 'devise/sessions' }, class: "login__btn login__btn--right" %>
       </td>
     </tr>
   </table>
<% end %>

<script language="javascript" type="text/javascript">
  $(document).on('ready', function(e) {
     document.getElementById("user_email").focus();
   });
</script>
