<% if flash[:alert] || flash[:error] %>
  <div class="error_message"><%= flash[:alert] || flash[:error] %></div>
<% end %>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>
  <table class="login-form__table">
    <th>Change your password<th>
    <tr>
      <td><%= f.password_field :password, class: "login-form__input", placeholder: "New Password:" %></td>
    </tr>

    <tr>
      <td><%= f.password_field :password_confirmation, class: "login-form__input", placeholder: "Confirm new password:" %></td>
    </tr>

    <tr>
      <td>
        <%= f.submit 'Change password', class: "login__btn" %>
      </td>
    </tr>
    <tr>
      <td>
        <%= link_to "Log In", new_session_path(resource_name), class: "login__link"%>
      </td>
    </tr>

  </table>
<% end %>
