<% label = 'Reset' if params[:action] == 'reset' %>
<div class="form">
  <div class="form-row form-row--flex form__row">
    <div class="form-row form-row--inline">
      <%= f.label :device, 'Creating New Maintenance Task for', class: 'form-label form-label--title'%>
      <div class="form-select-wrapper form__input">
        <%= select(:maintenance, :device_id, @devices.collect { |d| [d.name, d.id] }, {selected: (params[:device_id] || (@maintenance.id.blank? ? 0 : @maintenance.device.id)).to_i}, class:'form-input form-input--full-width form-select') %>
        <i class="fa fa-caret-down form-select__arrow" aria-hidden="true"></i>
      </div>
    </div>
    <div class="form-row form-row--inline">
      <%= f.label :description_task, 'Maintenance Task Description', class: 'form-label form-label--title' %>
      <%= f.text_field :description_task, class: 'form-input form-input--full-width form__input' %>
    </div>
  </div>

  <div class="form-row form-row--flex form__row">
    <div class="form-row form-row--inline">
      <%= f.label :type_task, 'Maintenance Task Type', class: 'form-label form-label--title' %>
      <div class="form__input">
        <%= f.radio_button :type_task, 0, checked: true, class: 'form__radio-button' %>
        <label class="form-label form__label">Scheduled Date</label>
      </div>
      <div class="form__input">
        <%= f.radio_button :type_task, 1, class: 'form__radio-button' %>
        <label class="form-label form__label">Target Mileage</label>
      </div>
    </div>

    <div class="form-row form-row--inline">
      <div class="<%= 'hide' unless @maintenance.is_mileage? %>" id="mileage">
        <%= f.label :mileage, 'Target Mileage', class: 'form-label form-label--title' %>
        <div class="form-select-wrapper form__input">
          <%= f.select(:mileage, ['100', '200', '300', '400', '500', '750', '1000', '1500', '2000', '2500', '3000', '3500', '4000', '4500', '5000', '5500', '6000', '6500', '7000', '7500', '8000', '8500', '9000', '9500', '10000', '11000', '12000', '13000', '14000', '15000', '16000', '17000', '18000', '19000', '20000', '21000', '22000', '23000', '24000', '25000', '26000', '27000', '28000', '29000', '30000', '31000', '32000', '33000', '34000', '35000', '36000', '37000', '38000', '39000', '40000', '41000', '42000', '43000', '44000', '45000', '46000', '47000', '48000', '49000', '50000', '51000', '52000', '53000', '54000', '55000', '56000', '57000', '58000', '59000', '60000', '61000', '62000', '63000', '64000', '65000', '66000', '67000', '68000', '69000', '70000', '71000', '72000', '73000', '74000', '75000', '76000', '77000', '78000', '79000', '80000', '81000', '82000', '83000', '84000', '85000', '86000', '87000', '88000', '89000', '90000', '91000', '92000', '93000', '94000', '95000', '96000', '97000', '98000', '99000', '100000'], {} , {class: 'form-input form-input--full-width form-select'}) %>
          <i class="fa fa-caret-down form-select__arrow" aria-hidden="true"></i>
        </div>
      </div>
      <div class="<%= 'hide' unless @maintenance.is_scheduled? %>" id="date">
        <%= f.label :scheduled_time, 'Scheduled Date', class: 'form-label form-label--title' %>
        <div class='form__date'>
          <%= f.date_select :scheduled_time, { start_year: Date.today.year, order: [:month, :day, :year], date_separator: '<i class="fa fa-caret-down form-select__arrow form-date-picker__arrow-separator" aria-hidden="true"></i>' }, { class: 'form-select' } %>
          <i class="fa fa-caret-down form-select__arrow" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="form-row form-row--flex form__row">
    <div class="form-row form-row--inline form-row--actions form--align-right">
      <%= f.submit 'Create', class: 'button button--primary button--large button--inline button--right' %>
      <%= link_to 'Cancel', params[:device_id].blank? ? maintenances_path : action_reports_path(action: 'maintenance', id: params[:device_id]), class: "button button--secondary button--inline button--right" %>
    </div>
  </div>
</div>
