<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html class="html_login">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <% if browser.device.mobile? || browser.device.tablet? %>
      <meta name="viewport" content="width=device-width, initial-scale=1">
    <% end %>
    <%= csrf_meta_tag %>

    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>    <title><%= @page_title %></title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
  </head>

  <body>

    <div id="content" class="content">
      <%= yield %>
    </div>

  </body>
</html>
